
header{
    background-color:#444;
    color: blanchedalmond;
    height: 100px; 
}
header h1{
    font-family: serif;
    font-size: 25px;
    text-align: center;
    color: darkgray;
}
nav{
    margin: 0px auto;
    width: 960px;
    
}
header img{
    width: 20%;
    height: auto;
    float: left;
    margin-right: 30px;
    margin-top: 0px;
    clear: both;
}
header ul li{
    display: inline-block;
    margin-right: 75px;
    margin-top: 40px;
}
a{
    color: blanchedalmond;
    text-decoration: none;
}
body{
    background-color: antiquewhite;
    font-family: sans-serif;
}
main {
    margin: 30px auto;
    width: 960px;
}
main div img{
    margin-left: 120px;
    width: 75%;
    height: auto;
}
.stockImage{
    border-bottom: double;
}
.stockImage img{
    float:left;
    margin: 30px 180px 50px 0px;
    height: auto; 
    width: 200px;
}
.stockImage img:last-child{
    margin-right: 0px;
}
/*Featured Section */
main > section{
    border-top: double;
}
section img{
    margin-top: 10px;
    float: left;
    width: 200px; 
    height: auto;
    clear: both;
}

section div{
    margin-top: 10px;
    float: right;
    margin-bottom: 30px;
    padding-left: 30px;
    width: calc(50% - 30px);
}

section div p{
    font-size: 18px;
    font-style: italic;
    height: 320px;
    line-height: 24px;
    overflow: auto;
    color: coral;
    clear: both;
}
table {
    width: 600px;}
  th, td {
  padding: 7px 10px 10px 10px;}
  th {
  text-transform: uppercase; letter-spacing: 0.1em; font-size: 90%;
  border-bottom: 2px solid #111111; border-top: 1px solid #999; text-align: left;}
  tr.even {
  background-color: #efefef;}

h2{
    font-size: 20px;
    margin-bottom: 10px;
}

button{
    background: #444;
    border: none;
    border-radius: 3px;
    color: blanchedalmond;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 30px;
    transition: 350ms;
}
button:hover{
    background: cornsilk;
}
.locations{
    text-align: center;
    margin-left: 110px;
    display: inline-block;
    margin-top: 20px;
}
footer{
    background-color: #444;
    clear: both;
    height: 100px;
    width: 100%;
}
footer p{
    text-align: center;
}
.clearfix {
    clear: both;
}
