header{
    background-color:#444;
    color: blanchedalmond;
    height: 100px; 
}
nav{
    margin: 0px auto;
    width: 960px;
    
}
nav img{
    width: 20%;
    height: auto;
}
header img{
    float: left;
    margin-right: 30px;
    margin-top: 15px;
}
header ul li{
    display: inline-block;
    margin-right: 75px;
    margin-top: 40px;
}
a{
    color: blanchedalmond;
    text-decoration: none;
}
body{
    background-color: antiquewhite;
    font-family: sans-serif;
}
main {
    margin: 30px auto;
    width: 960px;
}
main img{
    width: 75%;
    height: auto;
}
main ul li{
    float:left;
    margin: 30px 30px 30px 0px;

}
main ul li:last-child{
    margin-right: 0px;
}
main ul li img{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

/*Featured Section */
section img{
    float: left;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

section div{
    float: left;
    margin-bottom: 30px;
    padding-left: 30px;
    width: calc(50% - 30px);
}

section div p{
    font-size: 18px;
    font-style: italic;
    height: 320px;
    line-height: 24px;
    overflow: auto;
}
table {
    width: 600px;}
  th, td {
  padding: 7px 10px 10px 10px;}
  th {
  text-transform: uppercase; letter-spacing: 0.1em; font-size: 90%;
  border-bottom: 2px solid #111111; border-top: 1px solid #999; text-align: left;}
  tr.even {
  background-color: #efefef;}

h2{
    font-size: 20px;
    margin-bottom: 10px;
}

button{
    background: #444;
    border: none;
    border-radius: 3px;
    color: blanchedalmond;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 30px;
    transition: 350ms;
}
button:hover{
    background: cornsilk;
}
footer{
    background-color: #444;
    clear: both;
    height: 100px;
    width: 100%;
}